body{}
*{
	box-sizing: border-box;
}
img{
    max-width: 100%;
    display: block;
}

header{
    padding: 0px;
    background: #1d2538;
    width: 100%;
}
.container{
    width: 90%;
    margin:  0 auto;
    overflow:  hidden;
}
.logo{
    width:  20%;
    float:  left;
}
.logo img{}
nav{}
.menu{
    width:  80%;
    float:  left;
    text-align:  right;
    padding: 20px 0;
}
nav ul{
    padding:  0;
    margin:  0;
    color:  red;
}
nav ul li{
    display:  inline;
    list-style:  none;
}
nav ul li a{
    list-style:  none;
    text-decoration:  none;
    padding:  14px;
    font-size: 18px;
    text-transform:  uppercase;
    color: white;
}

section{
    padding:  30px;
}
.container-box{
    width:  100%;
    overflow:  hidden;
}
.box{
    background: #eaeaea;
    width: 31.33%;
    float:  left;
    margin: 13px;
    box-sizing:  border-box;
}
.article{}
.article h1{
    text-align: left;
    text-transform:  capitalize;
}
.article p{margin: 30px;}

.portfolio-section{
    background: #c8c8c861;
    padding: 30px 0;
}
.gallary{
    width: 33.33%;
    float:  left;
    padding: 25px;
}
.gallary img{}

footer{
    background: #1d2538;
    color:  white;
    padding: 30px;
}
footer h1{}
footer p{
    text-align:  center;
}
footer ul{
    padding:  0;
    margin:  0;
    text-align:  center;
}
footer ul li{
    display:  inline-block;
}
footer ul li a{font-size:  21px;padding:  8px;color: #00BCD4;}

.gallary-box1{
    float: left;
    width: 100%;
}
.gallary-box2{
    float:  left;
}
.container h1{
    text-align:  center;
    text-transform:  capitalize;
}
.container p{}